body{
    background: url(_images/body_background.jpg);
    background-attachment: fixed;
    width: auto;
    font: 100% Arial, helvetica, sans-serif;
    padding: 1em;
    size: 80%;
    }
h1 {
    border-style: double;
    text-align: center;
    color: black;
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: white;
    border-bottom: 5px solid gold;
}
h2, h3, h4, h5, h6{
    font-family: Georgia, charcoal, sans-serif;
    color: white;
    text-align: center;
    border-style: inset inset double double;
    background-image: url("_images/header2.gif");
    background-size: contain;
    
}
.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}
nav {
    background: darkblue;
    height: 2.3em;
}
ul, li {
    color: #eee;
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}
ul {
    background: lightblue;
    height: 2em;
    width: 100%;
}
li a {
    display: block;
    line-height: 2em;
    padding: 0 1em;
    color: white;
    text-decoration: none;
}
li a:hover {
    background: darkblue;
    height: 2em;
    padding-top: .3em;
    position: relative;
    top: -.3em;
    border-radius: .3em .3em 0 0;
}
.current, a:hover.current {
    background: blue;
    color: #eee;
    padding-top: .3em;
    border-radius: .3em .3em 0 0;
    position: relative;
    top: -.3em;
    border-bottom: .3em solid blue;
}
p{
    text-indent: 1em;
    text-align: justify;
    font-size: .9em;
}
div {
    float: right;
    width: 20%;
    height: 400px;
    text-align: justify;
    overflow: auto;
    padding: 2px;
    border: 2px solid black;
    margin: 1px;
}
div h6 {
    padding: 0;
    margin: 0;
}